body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #555;
}

h1 {
    font-size: 2em;
    color: #609;
    font-weight: 400;
    border: 1px solid #4c0072;
    background-color: #f0e6f5;
    padding: 0.5em;
    margin-bottom: 0;
}

h2,
h3,
h4 {
    color:
        #99007f;
}

h2 {
    font-style: italic;
    font-size: 1.5em;
    background-color: #f0e6f5;
    padding: 0.25em 0.5em;
}
 h3 {
    border-bottom: 1px solid #99007f;
    padding-bottom: 0.25em;
 }

 summary {
    color:#4c0072;
    font-weight: bold;
    padding-bottom: 0.25em;
    text-decoration: underline;
 }
 .dropdown {
    color: #99007f;
    font-weight: bold;
 }

em {
    color: #99007f;
    font-weight: bold;
}

strong {
    color: #609;
    font-weight: bold;
}

ul {
    list-style-type: square;
}

a:link {
    color: #660099;
}

a:visited {
    color: #876399;
}

a:hover {
    color: #339900;
}

.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #D9EECE;
    border: 1px solid #4c0072;
    border-top: 0;
    display: flex;
}

.navigation a {
    text-decoration: none;
    color: #226800;
    font-weight: bold;
    display: block;
    padding: 0.75em 1em;
}

.navigation a:hover {
    background-color: #c4e8b1;
}

label, input, textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

form {
        width: 30em;
}
    
.transition-links,          /*for CSS*/
.jsTransition-classes {     /*for JS*/
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center; /* main axis */
    align-items: center; /*cross axis */
}
.jsTransition-classes {
    flex-direction: column;
}


/* These rules are the ones we are interested in */
/* 1. Transitioning when user hovers on a link */

    /* Base style for the link */
     .transition-links a {

        font-size: 2em;
        padding: 3em;
        text-decoration: none;
        color: #000;
        background-color: #FF944D;
        border-radius: 8px;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }

    /* Style for the link when hovered */
    .transition-links a:hover {
        background-color: #D65600;
        color: #fff;
    } */
/* 2. Transitioning triggered by JavaScript */
.target {
    padding: 3em;
    color: #fff;
    border-radius: 16px;
    font-size: 2em;
    background-color: #4B1871;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    
}
.active-target {
    font-size: 3em;
    background-color: #8A2DD2;
}
.target {
    padding: 3em;
    color: #fff;
    border-radius: 16px;
    font-size: 2em;
    background-color: #4B1871;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    
}
.active-target {
    font-size: 3em;
    background-color: #8A2DD2;
}

.newtarget {
    padding: 3em;
    color: #fff;
    border-radius: 16px;
    font-size: 2em;
    background-color: #4B1871;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    
}
.active-newtarget {
    background-color: #8A2DD2;
    color: #D65600;
}