body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #555;
}

h1 {
    font-size: 2em;
    color: #609;
    font-weight: 400;
    border: 1px solid #4c0072;
    background-color: #f0e6f5;
    padding: 0.5em;
    margin-bottom: 0;
}

h2,
h3,
h4 {
    color:
        #99007f;
}

h2 {
    font-style: italic;
    font-size: 1.5em;
    background-color: #f0e6f5;
    padding: 0.25em 0.5em;
}
 h3 {
    border-bottom: 1px solid #99007f;
    padding-bottom: 0.25em;
 }

em {
    color: #99007f;
    font-weight: bold;
}

strong {
    color: #609;
    font-weight: bold;
}

ul {
    list-style-type: square;
}

a:link {
    color: #660099;
}

a:visited {
    color: #876399;
}

a:hover {
    color: #339900;
}

.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #D9EECE;
    border: 1px solid #4c0072;
    border-top: 0;
    display: flex;
}

.navigation a {
    text-decoration: none;
    color: #226800;
    font-weight: bold;
    display: block;
    padding: 0.75em 1em;
}

.navigation a:hover {
    background-color: #c4e8b1;
}